@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratMedium";
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LongCang";
  src: url(../fonts/LongCang/LongCang-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
.main-container {
  position: relative;
  max-width: 1200px;
  margin: auto auto;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background-color: #f1f1f1;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: 4px;
  flex-wrap: wrap;
  padding: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.main-container .header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #bbbbbb;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.main-container .header .btn-toogle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  border: 2px solid #ffd04a;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.main-container .header .btn-toogle:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.main-container .header .main-menu {
  position: absolute;
  top: 60px;
  left: 0px;
  margin: 0;
  padding: 5px 10px 5px 10px;
  background-color: #e7e7e7c2;
  z-index: 100;
  cursor: pointer;
  font-weight: normal;
}
.main-container .header .main-menu:hover {
  font-weight: bold;
}
.main-container .header .main-menu .menu-item {
  cursor: pointer;
  font-weight: normal;
}
.main-container .header .main-menu .menu-item:hover {
  font-weight: bold;
}
.main-container .header .main-menu .menu-item .sub-menu-item {
  cursor: pointer;
  font-weight: normal;
}
.main-container .header .main-menu .menu-item .sub-menu-item:hover {
  font-weight: bold;
}
.main-container .card-container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 1100px;
  cursor: pointer;
}
.main-container .card-container .droppable {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 2px;
  display: flex;
  align-items: center;
  align-content: center;
}
.main-container .card-container .droppable .card {
  height: 200px;
  padding: 5px;
  width: 200px;
  display: flex;
  background-color: #bbbbbb;
  border-radius: 4px;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 5;
}
.main-container .card-container .droppable .card:hover {
  -webkit-box-shadow: 0px 0px 26px -5px #eec113;
  -moz-box-shadow: 0px 0px 26px -5px #eec113;
  box-shadow: 0px 0px 26px -5px #eec113;
}
.main-container .card-container .droppable .hiddenCard {
  display: none;
}
.main-container .card-container .droppable .hiddenCard .title {
  position: relative;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  color: #3c3c3c;
  border: 1px solid #e7e7e7;
  height: 30px;
  margin: 0;
  cursor: pointer;
}
.main-container .card-container .droppable .hiddenCard .description {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  color: #666464;
  border: 1px solid #e7e7e7;
  margin-top: 5px;
  margin-bottom: 0px;
}
.main-container .card-container .droppable .hiddenCard .card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid black;
}
.main-container .card-container .droppable .hiddenCard .card-footer .price {
  width: 80px;
  height: 30px;
  position: relative;
  display: inline-flex;
  font-size: 1.2rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  color: #3c3c3c;
  margin-right: 5px;
  flex-grow: 1;
  align-items: center;
}
.main-container .card-container .droppable .hiddenCard .card-footer .btn-buy {
  width: 80px;
  height: 30px;
  position: relative;
  display: inline-flex;
  font-size: 1.2rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  background-color: #ffd04a;
  color: #3c3c3c;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.main-container .card-container .droppable .hiddenCard .card-footer .btn-buy:hover {
  background-color: #f1c30e;
}
.main-container .card-container .droppable .taken {
  border: 5px solid #f84f00;
}
.main-container .card-container .droppable .ghostly {
  display: none;
}
.main-container .card-container .hovered {
  background-color: #f1c30e;
}
.main-container .modal-form-container {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #080808b4;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid red;
  display: none;
}
.main-container .modal-form-container .modal-form {
  position: relative;
  width: 300px;
  min-width: min-content;
  height: 100%;
  max-height: 150px;
  background-color: #f5f5f5;
  border: 2px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .modal-form-container .modal-form .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #64bff8;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  font-family: "LongCang";
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-container .modal-form-container .modal-form .btn-close:hover {
  background: #b42222;
  color: #ffffff;
}
.main-container .modal-form-container .modal-form #form .input-change {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  font-size: 1.1rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  padding: 0;
  box-sizing: border-box;
  text-indent: 5px;
}
.main-container .modal-form-container .modal-form #form .btn-submit {
  background-color: #41a451;
  position: relative;
  height: 60px;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main-container .modal-form-container .modal-form #form .btn-submit:hover {
  background-color: #64c775;
}
.main-container .modal-form-container .modal-form #form .btn-reset {
  position: relative;
  height: 60px;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  font-family: "MontserratMedium";
  font-weight: normal;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #b42222;
}
.main-container .modal-form-container .modal-form #form .btn-reset:hover {
  background-color: #b43c3c;
}

/*# sourceMappingURL=main.css.map */
