.btn
    position: relative
    height: 40px
    margin: 0
    width: 100%
    display: flex
    font-size: 1.1rem
    font-weight: normal
    align-items: center
    justify-content: center
    box-sizing: border-box
    border-radius: 4px 4px 4px 4px
    flex-grow: 1
    border: none
    text-decoration: none
    cursor: pointer

.btn-default
    color: aliceblue
    &:hover
        color: red

.btn-danger
    background-color: #b42222
    &:hover
        background-color:#b43c3c
        color: #ffffff

.btn-success
    background-color: #41a451
    &:hover
        background-color:  #8ec998
        color: #ffffff

.btn-warning
    background-color: #ffd04a
    &:hover
        background-color: #f39b13

.btn-size-lg
    height: 30px

.btn-size-md
    height: 40px
