.btn-close
    position: absolute
    right: 10px
    top: 0px
    background-color: #f1c30e
    color: #000
    width: 30px
    height: 20px
    font-family: "LongCang"
    border: 2px solid #f1c30e
    &:hover
        background: #b42222
        color: #ffffff
        border-color: #b42222
    &::before
        content: '\2716'