#root
    justify-content: center
    align-items: center
    display: flex
    height: 100vh
    .main-container
        position: relative
        max-width: 1200px
        width: 100%
        height: auto
        min-height: 750px
        background-color: #91bcc4
        display: flex
        align-items: flex-start
        align-content: flex-start
        flex-wrap: wrap
        padding: 0
        margin: auto auto
        user-select: none