@media screen and  (max-width: 1200px)
    .main-container
        width: 950px

    .card-container
        width: 816px

@media screen and (max-width: 980px)
    .main-container
        width: 750px

    .card-container
        width: 612px

@media screen and (max-width: 767px)
    .main-container
        max-width: 767px
        width: 100%

    .card-container
        max-width: 552px

    .droppable
        width: 100%
        height: 180px
        max-width: 180px

    .card
        width: 100%
        height: 180px
        max-width: 180px

    .title
        font-size: 1.4rem

    .description
        font-size: 1.1rem

    .card-footer

    .price
        font-size: 1.1rem

    .btn-buy
        font-size: 1.1rem



@media screen and (max-width: 580px)
    .header
        height: 50px
        
    .btn-toogle
        width: 35px
        height: 35px

    .main-menu
        top: 50px
        margin: 0
        font-size: 0.9rem


    .card-container
        max-width: 368px

    .modal-form-container
        align-items: flex-start
        padding-top: 250px
    
@media screen and (max-width: 480px)

    .card-container
        width: 304px

    .droppable
        max-width: 148px
        height: 148px

    .card
        max-width: 148px
        height: 148px

    .title
        height: 20px
        font-size: 1.1rem

    .description
        font-size: 0.9rem

    .price
        font-size: 0.9rem
        height: 25px
        
    .btn-buy
        font-size: 0.9rem
        height: 25px
    
    .modal-form-container
        .modal-form
            max-width: 300px
            width: 100%
            
@media screen and (max-width: 320px)
    .header
        height: 45px

    .btn-toogle
        width: 30px
        height: 30px

    .main-menu
        top: 45px

    .card-container
        width: 152px

    .modal-form-container
        padding-top: 150px

    .modal-form
        max-height: 120px

    .input-form
        height: 35px

    .btn-container
        margin-top: 10px
            
    .btn-submit,
    .btn-reset
        height: 35px
        font-size: 1.0rem
    
